<div class="main-content">
    <table class="usertable">
    <thead>
        <tr class="names">
        <th>Name</th>
        <th>Title</th>
        <th></th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of postsWithUserNames">
        <td>{{ item.userName }}</td>
        <td>{{ item.post.title }}</td>
        <td>
            <button class="details" (click)="openDetails(item)">დეტალურად</button>
        </td>
        </tr>
    </tbody>
    </table>
</div>


<div class="modal" *ngIf="selectedPost">
  <div class="modal-content">
    <span class="close" (click)="closeDetails()">&times;</span>
    <h2>{{ selectedPost.post.title }}</h2>
    <p>{{ selectedPost.post.body }}</p>
  </div>
</div>

